
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <%- include("./cssjs.ejs") %>
    </head>
    <body>
        <h1>Fruits show page</h1>
        <a href="/fruits">Back to Index</a>

        <h2><%= fruit.name  %></h2>
        <h3><%= fruit.color %></h3>

        <% if (fruit.readyToEat === true) {   %>
            <h3>✅</h3>
        <% } else { %>
            <h3>❌</h3>
        <% } %> 

    </body>
</html>    
