<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("./cssjs.ejs") %>
</head>

<body>
    <h1>All the Fruits</h1>
    <nav>
        <a href="/fruits/new">Create a New Frruit</a>
    </nav>
    <ul>
        <% for (let i=0; i < fruits.length; i++){ %>

            <a href="/fruits/<%= i %>">
                <li>
                    <%= fruits[i].name %>
                </li>
            </a>

            <form action="/fruits/<%= i %>?_method=DELETE" method="post">
                <input type="submit" value="delete">
            </form>

            <% } %>
    </ul>

</body>

</html>