<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Fruit</title>
    <%- include("./cssjs.ejs") %>
</head>

<body>
    <h1>New Fuit Page</h1>
    <form action="/fruits" method="post">
        <label>Name: <input type="text" name="name"></label>
        <label>Color: <input type="text" name="color"></label>
        <label>Ready To Eat: <input type="checkbox" name="readyToEat"></label>
        <input type="submit" value="Create Fruit">
    </form>
</body>

</html>